fastapi[standard]
pytest
sqlalchemy 
pydantic
psycopg2-binary
asyncpg
python-dotenv
python-multipart
httpx
passlib
PyJWT
uvicorn
requests
matplotlib
seaborn
numpy 
pandas
pydantic-settings
pyarrow
langchain 
langchain-community 
langchain-text-splitters 
pypdf
chromadb
langchain-huggingface
langchain-google-genai
langchain-classic
mlflow